.Pokedex {
	text-align: center;
}
.Pokedex-cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
    flex-direction: column;
}
.Pokedex-title {
    color: white;
}


.Pokedex-winner {
	background-color: #4caf50;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.Pokedex-loser {
	background-color: #cd0f4b;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}
